body {
	background: #27f1bf;
}
img {
	border-style: groove;
	border-width: 20px;
	border-style: solid;
	border-right-color: blue;
	border-left-color: blue;
	border-top-color: teal;
	border-bottom-color: teal;
	position: relative;
	left: 180px;
}
h1 {
	font-size: 50px;
	color: #4cbe00;
	font-family: fantasy;
	text-align: center;
	outline-style: dashed;
	outline-color: blue;
	font-style: oblique;
	text-transform: uppercase;
}
h6 {
	text-align: left;
	font-size: 25px;
	font-family: fantasy;
	color: #ff8400;
	font-style: italic;
	letter-spacing: -2px;
}
a {
	text-decoration: none;
	font-family: fantasy;
	color: #ff8400;
	font-weight: bold;
	letter-spacing: -1px;
}
}
.container {
	margin-right: auto;
	margin-left: auto;
	width: 150px;
	float: center;
}
h2 {
	font-family: fantasy;
	color: #ff8400;
	font-style: oblique;
	line-height: 200%;
	text-align: center;
}
h3 {
	font-family: fantasy;
	color: #ff8400;
	font-style: oblique;
	line-height: 200%;
	text-align: center;
}
h4 {
	font-family: fantasy;
	color: #ff8400;
	font-style: oblique;
	line-height: 200%;
	text-align: center;
}
p1 { 
	font-family: fantasy;
	font-size: 16px;
}
p2 {
	font-family: fantasy;
	font-size: 16px; 
}
p3 {
	font-family: fantasy;
	font-size: 16px;
}
p4 {
	font-family: fantasy;
	font-size: 16px;
}
p5 {
	font-family: fantasy;
	font-size: 16px;
}
p6 {
	font-family: fantasy;
	font-size: 16px;
}
p7 {
	font-family: fantasy;
	font-size: 16px;
}
p8 {
	font-family: fantasy;
	font-size: 16px;
}
p9 {
	font-family: fantasy;
	font-size: 16px;
}
p10 {
	font-family: fantasy;
	font-size: 16px;
}
p11 {
	font-family: fantasy;
	font-size: 16px;
}
p12 {
	font-family: fantasy;
	font-size: 16px;
}
p13{
	font-family: fantasy;
	font-size: 16px;
}
p14 {
	font-family: fantasy;
	font-size: 16px;
}
p15 {
	font-family: fantasy;
	font-size: 16px;
}
p16 {
	font-family: fantasy;
	font-size: 16px;
}
p17 {
	font-family: fantasy;
	font-size: 16px;
}
ul {
	font-family: fantasy;
	font-size: 16px;
}









